micronaut:
  application:
    name: number-converter
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      swagger-ui:
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /swagger-ui/**

endpoints:
  all:
    sensitive: false
  health:
    details-visible: ANONYMOUS
  metrics:
    enabled: true
  loggers:
    enabled: true