name: Load Test

on:
  workflow_dispatch:

jobs:
  load-test:
    name: Artillery Load Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: kenju/github-actions-artillery@master
        with:
          filepath: src/test/resources/load-test-script.yml